---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import MobileSheet from "../components/MobileSheet.astro";
import Hero from "../components/Hero.astro";
import Integrations from "../components/Integrations.astro";
import HowItWorks from "../components/HowItWorks.astro";
import UseCases from "../components/UseCases.astro";
import Subtitles from "../components/Subtitles.astro";
import Voice from "../components/Voice.astro";
import Languages from "../components/Languages.astro";
import History from "../components/History.astro";
import Pricing from "../components/Pricing.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <MobileSheet />

  <main id="top">
    <Hero />
    <Integrations />
    <HowItWorks />
    <UseCases />
    <Subtitles />
    <Voice />
    <Languages />
    <History />
    <Pricing />
    <FinalCTA />
    <Footer />
  </main>
</Base>
